<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Admin_page</title>
</head>
<body>
<h1>Admin, welcome spring boot security page!</h1>
<h2>All Users</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Instrument</th>
        <th>Login</th>
        <th>Role</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getInstrument()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td><p th:each=" role : ${user.getRoles()}" th:text="${role.getRoleName()}"></p></td>
        <td>
            <form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}" th:object="${user}">
                <input type="submit" value="UPDATE"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}/delete(id=${user.getId()})}" th:object="${user}">
                <input type="submit" value="DELETE"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>

<input type="button" value="Add" onclick="window.location.href = '/admin/addNewUser'"/>
<br/><br/>

<input type="button" value="Logout" onclick="window.location.href = 'logout'"/>

</body>
</html>